.app {
  background-color: rgb(112, 216, 211);
  height: 500px;
  width: 600px;
  display: grid;
  justify-content: center;
  align-items: center;
  }

.counter {
  border: rgb(117, 0, 0) 2px solid ;
  border-radius: 9px;
  background-color: rgb(145, 145, 145);
  padding-left: 10px;
  padding-right: 10px;
}
